
<form [formGroup]="topFormGroup" (ngSubmit)="submitEditorForm()" [class]="agGridThemeName" autocomplete="off" spellcheck="false">
<div class="modal-header ag-root-wrapper" style="flex-direction: row;" >
  <h4 class="modal-title" style="align-self: start;" ></h4>
</div>

<div class="modal-body ag-root-wrapper" >
<div class="fluid-container p-3 ">

<div class="card m-3 col-lg-8 lh-base fs-6">
<h4 class="card-title py-2">Intrduction on Editor Hierarchy</h4>
<ul class="list-group list-group-flush">
<li class="list-group-item"><h5 class="card-subtitle">Business Entity and Property</h5><p class="card-text py-2">
Business can be described with business entities. For example, a business of school would be descried with entities like Students, Teachers. Courses, Classes, etc.
Just like a student has name, gender, birth date, etc, entity has properties.
Property can be a simple piece of information like name, gender,  or birth date, and can be a composition of pieces of information like Address or Contact,
which possibly have multiple data items together. Also, a student can have a list of enrolled courses and each enrolled course can have a list of attended classes.
This means entity can have properties to refer to a list of other child entities and a child entity can have its own child entities.
In this way, we can see a complex entity is actually an entity hierarchy. Business will finally be described with multiple such entity hierarchies.

</p></li><li class="list-group-item"><h5 class="card-subtitle">Data Model Object and Field</h5><p class="card-text py-2">
Today JSON Data Modelling is the most popular way to use data model to represent business entities and their properties.
In this way, an entity is an Object and entity properties are fields of the object.
As mentioned above, fields can refer to a simple value: number or a string, or another object, or a list of simple values, or a list of other child object.
Corresponding to Entity Hierarchy, here we have Object Hierarchy.

</p></li><li class="list-group-item"><h5 class="card-subtitle">Business Management Application</h5>

<p class="card-text py-2">
When we represent a business with such an Object Hierarchy for management purposes, we require an application to do the following fundamental operations:
</p>

<ul class="list-group list-group-flush">
  <li class="list-group-item">Read the object hierarchy out of DB</li>
  <li class="list-group-item">Present the object hierarchy to users</li>
  <li class="list-group-item">Allow users to input or update the data items in the object heierarchy</li>
  <li class="list-group-item">Save the object hierarchy to DB</li>
</ul>

<p class="card-text py-2">
ngEditorHierarchy is a package providing a full set of codes to perform all the above operations upon the object models for complex business entities.
As example, Let's look at the top business entity: School:
</p>

<ul class="list-group list-group-flush">
<li class="list-group-item">First, School has its simple value details like name, category, status, etc.
</li><li class="list-group-item">Then School will have child entities like Students, Teachers, Courses, Classrooms, etc.
</li><li class="list-group-item">Further, apart from its simple value details, Student has some complex child entities, like Address, Contact,
Enrollments (a list of courses the student enrolled), as its properties.
</li><li class="list-group-item">Even further, an enrollment can have a list of classes the student will go to for the course.
</li></ul>

<p class="card-text py-2">
To perform the above sewt of operations for the complex entity,
ngEditorHierarchy demonstrates codes to provide editors for each of the above entities.
One editor is a view window component performing the operations for a specific entity.
Here some editors are:<br/>
<br/>Editor Form for School has input fields for simple value properties and icon buttons to bring out Editor Grid for Students, Teachers, Courses, Classrooms, etc.
<br/>Editor Grid for Students has input fields, can bring out Editor Form for Address, Editor Form for Contact, and can bring out Editor Grid for Enrollments.
<br/>Editor Grid for Enrollments has a child Editor Grid for Classes.
</p>

</li><li class="list-group-item"><h5 class="card-subtitle">Editor Hierarchy</h5>

<p class="card-text py-2">
For the complex Business Entity School, there would be a large number of such editors. Based on their order coming out,
these editors can be arranged into different levels:
</p>

<ul class="list-group list-group-flush">
<li class="list-group-item">Level 1: Editor Form for School
</li><li class="list-group-item">Level 2: Editor Grid for Students, Teachers, Courses, Classrooms
</li><li class="list-group-item">Level 3: Editor Form for Student, Teacher, Course, Classroom
</li><li class="list-group-item">Level 4: Editor Grid for Student Enrollments, Classes, Editor Form for Student Contact, Address
</li><li class="list-group-item">Level 5: Editor Form for Student Enrollment, Class
</li></ul>

<p class="card-text py-2">
Roughly speaking, the editors at level 2 will be brough out from within the editors at level 1;
The editors at level 3 will be brough out from level 2; The same holds between level 4 from level 3, level 5 from level 4, etc.
If an editor brings out another one, quite naturally, the former is called as parent editor and the latter is the child one.
</p>

<p class="card-text py-2">
The parent editor will have input fields for the simple value properties and also have icon buttons to open the child editors.
For example, Editor Form for School can bring out Editor Grid for Students, then Editor Form for Student, then Editor Grid for Student Enrollments,
and then Editor Form for Student Enrollment, and then Editor Form for Student Class.
</p>

<p class="card-text py-2">
These editors together make an editor hierarchy to perform all the basic functions required by a management application for the top business entity.
There is no limit for how many level the hierarchy can have.
The child editors will come over the parent one and only the topmost child editor is active at a time.
All other underlying parent editors are inactive, not receiving user's operations.
</p>

<p class="card-text py-2">
Curretly in ngEditorHierarchy, there are two major types of Editors: Editor Form for a single object
and Editor Grid for a list of child objects- that have the same field structure.
From a parent editor of either of the types, child editors of either of the types can be brought out,
depending on the entity property is a single object or a list of child objects.
</p>

<h6 class="py-2">Editor Form</h6>
<p class="card-text py-2">
Editor Form is the basic means to present, input, update, or delete a single object. Editor Form has
separate input fields for each simple value field, icons to open a child Editor Form for the fields that are a single child object, and
icons to open a child Editor Grid for the fields that are an array of objects.
</p><p class="card-text py-2">
Combined the data types and visual characteristics of the simple value entity properties,
ngEditorHierarchy has the following Visual Data Types to provide proper input fields for the entity properties on Editor Form. In the most cases,
the HTML input tag &lt;input&gt; was used as the input fields.
</p><p class="card-text py-2">
ngEditorHierarchy does provide customized form controls to be input fields in other cases.
An array of simple values will be taken as a simple value using a custom input field for this purpose.
</p>

<h6 class="py-2">Editor Grid</h6>
<p class="card-text py-2">
Editor Grid is the basic means to present an array of objects that are haiving the same field structure.
Editor Grid has a row to present an object and has a cell for each object field.
For the simple value fields, the cell will show the value.
Similar to Editor Form, for object field being an object, the cell will have an icon button to open a child Editor Form.
For entobject field being an array of objects, the cell will have an icon button to open a child Editor Grid.
</p>

</li><li class="list-group-item"><h5 class="card-subtitle">Visual Data Types</h5>
<p class="card-text py-2">
On Editor Form, there are different ways to provide input fields or icons depending on the field value type.
These different ways are defined as a visual data type. Below is the list of all the visual data types separated in categories.
</p>

<h6 class="py-2">Visual Data Type Category 1: Simple Value</h6>
<p class="card-text py-2">
The field value is just a simple value of different primitive data type:
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Field Data Type</th>
      <th scope="col">Visual Data Type Name</th>
      <th scope="col">HTML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number</td>
      <td>SimpleNumber</td>
      <td><i>&lt;input type="number" ... &gt;</i></td>
    </tr>
    <tr>
      <td>String</td>
      <td>SimpleString</td>
      <td><i>&lt;input type="text" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Color</td>
      <td>SimpleColor</td>
      <td><i>&lt;input type="color" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>SimpleEmail</td>
      <td><i>&lt;input type="email" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Url</td>
      <td>SimpleUrl</td>
      <td><i>&lt;input type="url" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>SimpleDate</td>
      <td><i>&lt;input type="date" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Date Time</td>
      <td>SimpleDateTime</td>
      <td><i>&lt;input type="local-datetime" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Time</td>
      <td>SimpleTime</td>
      <td><i>&lt;input type="time" ... &gt;</i></td>
    </tr>
  </tbody>
</table>

<h6 class="py-2">Visual Data Type Category 2: Array</h6>
<p class="card-text py-2">
The field value is an array of simple values of the same primitive data type.
This packge has a custom form control &lt;bep-input-group&gt; tag to allow user to input an ordered array of simple values to a field value.
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Array Member Data Type</th>
      <th scope="col">Visual Data Type Name</th>
      <th scope="col">HTML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Number</td>
      <td>ArrayNumber</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"number" ... &gt;</i></td>
    </tr>
    <tr>
      <td>String</td>
      <td>ArrayString</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"text" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Color</td>
      <td>ArrayColor</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"color" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>ArrayEmail</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"email" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Url</td>
      <td>ArrayUrl</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"url" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Date</td>
      <td>ArrayDate</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"date" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Date Time</td>
      <td>ArrayDateTime</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"local-datetime" ... &gt;</i></td>
    </tr>
    <tr>
      <td>Time</td>
      <td>ArrayTime</td>
      <td><i>&lt;bep-input-array [htmlInputType]='"time" ... &gt;</i></td>
    </tr>
  </tbody>
</table>

<h6 class="py-2">Visual Data Type Category 3: Special</h6>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Field Data Type</th>
      <th scope="col">Visual Data Type Name</th>
      <th scope="col">HTML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Boolean</td>
      <td>Boolean</td>
      <td> &lt;input type='checkbox' ...&gt;</td>
    </tr>
    <tr>
      <td>multipl Line String</td>
      <td>Long String</td>
      <td> &lt;textarea &gt;</td>
    </tr>
  </tbody>
</table>

<h6>Visual Data Type Category 4:  Object</h6>
<p class="card-text py-2">
If the entity property is a complex one, i.e. an object, Editor Form will have an icon button to open a child Editor Form.
If the entity property is an array of objects,  Editor Form will have an icon button to open a child Editor Grid.
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Field Data Type</th>
      <th scope="col">Visual Data Type Name</th>
      <th scope="col">HTML</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Object</td>
      <td>Object</td>
      <td><i>&lt;open-field-editor-form-control ... &gt;&lt;/open-field-editor-form-control&gt;</i></td>
    </tr>
    <tr>
      <td>ArrayObject</td>
      <td>ArrayObject</td>
      <td><i>&lt;open-field-editor-form-control ... &gt;&lt;/open-field-editor-form-control&gt;</i></td>
    </tr>
  </tbody>
</table>


</li><li class="list-group-item"><h5 calss="card-subtitle">Selectors</h5>
<p class="card-text py-2">
Quite often, an entity property's value will be selected from a known array of constants, like week day names,  month names, person's gender, country names, etc.
ngEditorHierarchy has the assets/sampleConstants.json file with a structure like:
</p>
<pre><i>
&#123;  "valueArrays": &#123; value-array1: [value11, value12, ...] ...&#125;,
   "labelledValueArrays": &#123; labelled-value-array1: [label11: value11, label12: value12, ...] ...&#125;,
   "objectArrays": &#123; object-array1: [object11: &#123;...&#125; , object12: &#123;...&#125;, ...], ... &#125;
&#125;
</i></pre>

There are three types of constants arrays were pre-defined. More array instances can be added into them in this file.

<p class="py-2">
ngEditorHierarchy has codes loading all the arrays defined in this file to runtime memory.  In the Angular component,
the function getSelectorOptionArray(array-type, array-name) can return the array in html template.
</p>

<p class="py-2">
For fields of simple visual data types, ngEditorHierarchy will use html tags like
</p>
<pre><i>
&lt;select ... &gt;&lt;option ..&gt;&lt;option ..&gt;&lt;/select&gt;
</i></pre>
<p class="py-2">
tags to select a value from these arrays in slight different ways:
For valueArray, the option tag will show the member value and pass the same value to the field.
For LabelledValue Array, the option tag will show array member's label field and pass array member's value field to the object.value.
To use an array from objectArrays, array members are an object of the same set of fields. Two fields must be chosen to give &lt;option&gt;
tag's display and value inside the &lt;select&gt; tag.
</p>

<p class="py-2">
For fields of array visual data types, ngEditorHierarchy can use the same set of tag
</p>
<pre><i>
&lt;select multiple ...&gt; &lt;option&gt; .... &lt;/select&gt;,
</i></pre>
<p class="py-2">
just with multiple attribute specified.

<pre><i>
&lt;select multiple class="form-control" formControlName="symbols" id="symbols" name="symbols" &gt;
&lt;option [value]="obj.vin" *ngFor="let obj of getSelectorOptionArray('ObjectArray', 'Cars')"&gt;&#123; &#123;obj.brand&#125;&#125;&lt;/option&gt;
&lt;/select&gt;
</i></pre>

<p class="py-2">
The hmtl &lt;select multiple...&gt; tag is not that convenient to select multiple items, s extra click might loss the items just cosen.
So, for fields of array visual data types, ngEditorHierarchy provides a custom form control &lt;bep-checkbox-group&gt; &lt;bep_checkbox&gt; ....&lt;/bep-checkbox-group&gt;
to allow user select array members from a list of check boxes. The included &lt;bep_checkbox&gt; will get display and value as the above &lt;option&gt; tags.
The list of check boxes can show and remember the selected items more stable to users.
</p>

<pre><i>
&lt;bep-checkbox-group  class="form-control" formControlName="points" id="points"  name="points"
[ngStyle]="&#123;'height': '8em', 'overflow-y': 'auto'&#125;" &gt;
&lt;bep-checkbox  *ngFor="let obj of getSelectorOptionArray('ObjectArray', 'Rectangles'), let i = index"
[value]="obj.desc" id="'points' + i" &gt;&#123; &#123;obj.length&#125;&#125;&lt;/bep-checkbox&gt;
&lt;/bep-checkbox-group&gt;
</i></pre>

<p class="py-2"></p>

</li><li class="list-group-item"><h5 calss="card-subtitle">Technology</h5>
To perform the basic set of operations required by a business management application,
ngEditorHierarchy will utilize the following technology stack:

<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <a href="https://v17.angular.io/start" class="card-link" target="_blank" >Angular</a>
  </li>
  <li class="list-group-item">
    <a href="https://ngrx.io/" class="card-link" target="_blank" >NGRX</a>
  </li>
  <li class="list-group-item">
    <a href="https://firebase.google.com/docs/firestore" class="card-link" target="_blank" >Firestore</a>
  </li>
  <li class="list-group-item">
    <a href="https://github.com/angular/angularfire" class="card-link" target="_blank" >Angular Fire</a>
  </li>
  <li class="list-group-item">
    <a href="https://valor-software.com/ngx-bootstrap/#/components" class="card-link" target="_blank" >ngxBootstrap</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.ag-grid.com/" class="card-link" target="_blank" >AgGrid</a>
  </li>
</ul>

<p class="card-text py-2">

</p>
</ul>

</div>
</div>
</div>
<div class="ag-root-wrapper modal-footer " style="flex-direction: row;" >
  <!--button type="button" *ngIf="isInModal" class="btn btn-primary" (click)="hideEditorForm()" >Close</button-->
</div>
</form>
