

 <form [class]="agGridThemeName">
 <div class="modal-header ag-root-wrapper d-flex flex-row">
   <h4 class="modal-title flex-fill" >ContactPersonList List:</h4>
   <button type="button" class="btn btn-primary btn-sm m-1" (click)="outputJsonString()" >JSON</button>
   <button type="button" class="btn btn-primary btn-sm m-1" (click)="showCreateForm(undefined, undefined)" >Create ContactPersonList</button>
   <i type="button" style="padding-left: 10px; font-size: 200%" *ngIf="isInModal" class="close fa fa-close" aria-label="Close" (click)="hideEditorPTable($event)" ></i>
 </div>
 <div class="modal-body ag-root-wrapper" style="height: 80vh;" >
   <div class='alert alert-warning'*ngIf="runtimeMessageLines.length>0">
     <p *ngFor="let msgLn of runtimeMessageLines">{{msgLn}}</p>
   </div>

<p-table
   #dt
   [value]="editedObjects"
   styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm fs-6"
   [paginator]="false"
   [tableStyle]="{'min-width': '50rem',  'min-height': '3em','font-size': '12px' }"
   [rowHover]="true"
   dataKey="id"
>

   <ng-template pTemplate="header">
       <tr>
         <th></th>
         <th></th>
<th pReorderableColumn pResizableColumn pSortableColumn="Title" style="min-width:5rem">Title<p-sortIcon field="Title" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="FirstName" style="min-width:5rem">FirstName<p-sortIcon field="FirstName" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="MiddleName" style="min-width:5rem">MiddleName<p-sortIcon field="MiddleName" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="LastName" style="min-width:5rem">LastName<p-sortIcon field="LastName" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="Gender" style="min-width:5rem">Gender<p-sortIcon field="Gender" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="DOB" style="min-width:5rem">DOB<p-sortIcon field="DOB" /></th>
<th pReorderableColumn pResizableColumn >Address</th>
<th pReorderableColumn pResizableColumn >Contact</th>
<th pReorderableColumn pResizableColumn >Alias</th>
<th pReorderableColumn pResizableColumn pSortableColumn="StartDate" style="min-width:5rem">StartDate<p-sortIcon field="StartDate" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="Category" style="min-width:5rem">Category<p-sortIcon field="Category" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="Status" style="min-width:5rem">Status<p-sortIcon field="Status" /></th>

<th pReorderableColumn pResizableColumn >Extensions</th>
<th pReorderableColumn pResizableColumn >Correspondences</th>

       </tr>
   </ng-template>
   <ng-template pTemplate="body" let-rowData let-idx="rowIndex">
       <tr>
         <td>
           <i type="button" class="close fa fa-edit" (click)="showUpdateForm('Edit', idx)" ></i>
         </td>
         <td>
           <i type="button" class="close fa fa-trash" (click)="showDeleteForm('Delete', idx)" ></i>
         </td>
<td>{{  rowData?.Title }}</td>
<td>{{  rowData?.FirstName }}</td>
<td>{{  rowData?.MiddleName }}</td>
<td>{{  rowData?.LastName }}</td>
<td>{{  rowData?.Gender }}</td>
<td>{{  rowData?.DOB }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('Address', idx)" ></i>{{ rowData.Address? "Object" : "" }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('Contact', idx)" ></i>{{ rowData.Contact? "Object" : "" }}</td>
<td> {{ delegate_display_DataArray_In_GridCell(rowData['Alias'], "String") }}</td>
<td>{{  rowData?.StartDate }}</td>
<td>{{  rowData?.Category }}</td>
<td>{{  rowData?.Status }}</td>

<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorPTable('Extensions', idx)" ></i>{{ delegate_display_DataArray_In_GridCell(rowData.Extensions, 'Object') }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorPTable('Correspondences', idx)" ></i>{{ delegate_display_DataArray_In_GridCell(rowData.Correspondences, 'Object') }}</td>

     </tr>
   </ng-template>

</p-table>
</div>
</form>

