
    <form [formGroup]="editorForm" (ngSubmit)="submitEditorForm(editorForm)" [class]="agGridThemeName" autocomplete="off">

      <div class="modal-header ag-root-wrapper d-flex flex-row" >
        <h4 class="modal-title flex-fill" >{{editorFormTitle}}</h4>
        <h4><i type="button" class="close pull-end fa fa-close" aria-label="Close" *ngIf="isInModal" (click)="hideEditorForm()" ></i></h4>
      </div>

      <div class="modal-body ag-root-wrapper" >

<div class="form-group">
  <label for="SelectFromValueArray">SelectFromValueArray:</label>
<select multiple class="form-control" formControlName="SelectFromValueArray" id="SelectFromValueArray" name="SelectFromValueArray" >
<option [value]="nm" *ngFor="let nm of getSelectorOptionArray('ValueArray', 'academicGrades')">{{nm}}</option>
</select>
</div>

<div class="form-group">
  <label for="SelectFromLabeledValueArray">SelectFromLabeledValueArray:</label>
<select multiple class="form-control" formControlName="SelectFromLabeledValueArray" id="SelectFromLabeledValueArray" name="SelectFromLabeledValueArray" >
<option [value]="lv.value" *ngFor="let lv of getSelectorOptionArray('LabelledValueArray', 'monthNames')">{{lv.label}}</option>
</select>
</div>

<div class="form-group">
  <label for="SelectFromObjectArray">SelectFromObjectArray:</label>
<select multiple class="form-control" formControlName="SelectFromObjectArray" id="SelectFromObjectArray" name="SelectFromObjectArray" >
<option [value]="obj.Phone" *ngFor="let obj of getSelectorOptionArray('ObjectArray', 'stores')">{{obj.Name}}</option>
</select>
</div>

<div class="form-group">
  <label for="SelectFromRecordList">SelectFromRecordList:</label>
<select multiple class="form-control" formControlName="SelectFromRecordList" id="SelectFromRecordList" name="SelectFromRecordList" >
<option [value]="obj.code" *ngFor="let obj of SelectFromRecordList_SelectableOptionRecord_Options">{{obj.name}}</option>
</select>
</div>

<div class="form-group">
  <label for="CheckboxFromValueArray">CheckboxFromValueArray:</label>
<bep-checkbox-group  class="form-control" formControlName="CheckboxFromValueArray" id="CheckboxFromValueArray"  name="CheckboxFromValueArray" 
[ngStyle]="{'height': '8em', 'overflow-y': 'auto'}" >
<bep-checkbox  *ngFor="let nm of getSelectorOptionArray('ValueArray', 'academicGrades'), let i = index" 
[value]="nm" id="CheckboxFromValueArray + i" >{{nm}}</bep-checkbox>
</bep-checkbox-group>

</div>

<div class="form-group">
  <label for="CheckboxFromLabeledValueArray">CheckboxFromLabeledValueArray:</label>
<bep-checkbox-group  class="form-control" formControlName="CheckboxFromLabeledValueArray" id="CheckboxFromLabeledValueArray"  name="CheckboxFromLabeledValueArray" 
[ngStyle]="{'height': '8em', 'overflow-y': 'auto'}" >
<bep-checkbox  *ngFor="let lv of getSelectorOptionArray('LabelledValueArray', 'monthNames'), let i = index" 
[value]="lv.value" id="'CheckboxFromLabeledValueArray' + i" >{{lv.label}}</bep-checkbox>
</bep-checkbox-group>

</div>

<div class="form-group">
  <label for="CheckboxFromObjectArray">CheckboxFromObjectArray:</label>
<bep-checkbox-group  class="form-control" formControlName="CheckboxFromObjectArray" id="CheckboxFromObjectArray"  name="CheckboxFromObjectArray" 
[ngStyle]="{'height': '8em', 'overflow-y': 'auto'}" >
<bep-checkbox  *ngFor="let obj of getSelectorOptionArray('ObjectArray', 'appliances'), let i = index" 
[value]="obj.sale_price" id="'CheckboxFromObjectArray' + i" >{{obj.name}}</bep-checkbox>
</bep-checkbox-group>

</div>

<div class="form-group">
  <label for="CheckboxFromRecordList">CheckboxFromRecordList:</label>
<bep-checkbox-group  class="form-control" formControlName="CheckboxFromRecordList" id="CheckboxFromRecordList"  name="CheckboxFromRecordList" 
[ngStyle]="{'height': '8em', 'overflow-y': 'auto'}" >
<bep-checkbox  *ngFor="let obj of CheckboxFromRecordList_SelectableOptionRecord_Options, let i = index" 
[value]="obj.code" id="'CheckboxFromRecordList' + i" >{{obj.name}}</bep-checkbox>
</bep-checkbox-group>

</div>

<div class="form-group">
  <label for="CheckboxFromRecordList_PersonFullName">CheckboxFromRecordList PersonFullName:</label>
<bep-checkbox-group  class="form-control" formControlName="CheckboxFromRecordList_PersonFullName" id="CheckboxFromRecordList_PersonFullName"  name="CheckboxFromRecordList_PersonFullName" 
[ngStyle]="{'height': '8em', 'overflow-y': 'auto'}" >
<bep-checkbox  *ngFor="let obj of CheckboxFromRecordList_PersonFullName_SelectableOptionRecord_Options, let i = index" 
[value]="obj.code" id="'CheckboxFromRecordList_PersonFullName' + i" >{{predefinedLableFunctionContainerInstance.getPersonFullName(obj)}}</bep-checkbox>
</bep-checkbox-group>

</div>



      </div>

      <div class="ag-root-wrapper modal-footer " style="flex-direction: row;" >
        <button type="button" class="btn btn-primary" (click)="outputJsonString()" >JSON</button>
        <button [disabled]="editorForm.invalid" class="btn btn-primary" type="submit" >{{submitButtonLabel}}</button>
        <button type="button" class="btn btn-primary" (click)="hideEditorForm()" >Cancel</button>
      </div>

    </form>
    