

    <form [class]="agGridThemeName">
      <div class="modal-header ag-root-wrapper d-flex flex-row" >
        <h4 class="modal-title flex-fill" >AObjects:</h4>
        <button type="button" class="btn btn-primary btn-sm m-1" (click)="outputJsonString()" >JSON</button>
        <button type="button" class="btn btn-primary btn-sm m-1" (click)="showCreateForm(undefined, undefined)" >Create AObject</button>
        <i type="button" style="padding-left: 10px; font-size: 200%" *ngIf="isInModal" class="close fa fa-close" aria-label="Close" (click)="hideEditorPTable($event)" ></i>
      </div>
      <div class="modal-body ag-root-wrapper" style="height: 40em;" >
        <div class='alert alert-warning'*ngIf="runtimeMessageLines.length>0">
          <p *ngFor="let msgLn of runtimeMessageLines">{{msgLn}}</p>
        </div>
    <p-table
      #templatePTable
      [value]="editedObjects"
      [resizableColumns]="true"
      columnResizeMode="expand"
      styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm fs-6"
      [paginator]="false"
      [tableStyle]="{'min-width': '50rem',  'min-height': '3em', 'font-size': '12px' }"
      [rowHover]="true"
      dataKey="id"
    >

      <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th></th>

<th pReorderableColumn pResizableColumn pSortableColumn="BString" style="min-width:5rem">BString<p-sortIcon field="BString" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BNumber" style="min-width:5rem">BNumber<p-sortIcon field="BNumber" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BBoolean" style="min-width:5rem">BBoolean<p-sortIcon field="BBoolean" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BEmail" style="min-width:5rem">BEmail<p-sortIcon field="BEmail" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BUrl" style="min-width:5rem">BUrl<p-sortIcon field="BUrl" /></th>
<th pReorderableColumn pResizableColumn >BColor</th>
<th pReorderableColumn pResizableColumn pSortableColumn="BDate" style="min-width:5rem">BDate<p-sortIcon field="BDate" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BTime" style="min-width:5rem">BTime<p-sortIcon field="BTime" /></th>
<th pReorderableColumn pResizableColumn pSortableColumn="BDatetime" style="min-width:5rem">BDatetime<p-sortIcon field="BDatetime" /></th>
<th pReorderableColumn pResizableColumn >BObject</th>
<th pReorderableColumn pResizableColumn >BObjects</th>


          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-idx="rowIndex">
          <tr>
            <td>
              <i type="button" class="close fa fa-edit" (click)="showUpdateForm('Edit', idx)" ></i>
            </td>
            <td>
              <i type="button" class="close fa fa-trash" (click)="showDeleteForm('Delete', idx)" ></i>
            </td>

<td>{{  rowData?.BString }}</td>
<td>{{  rowData?.BNumber }}</td>
<input type="checkbox" [checked]="rowData?.BBoolean" disabled />
<td>{{  rowData?.BEmail }}</td>
<td>{{  rowData?.BUrl }}</td>
<td [ngStyle]="{'background-color': rowData?.BColor}"></td> 
<td>{{  rowData?.BDate }}</td>
<td>{{  rowData?.BTime }}</td>
<td>{{  rowData?.BDatetime }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('BObject', idx)" ></i>{{ rowData.BObject? "Object" : "" }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorPTable('BObjects', idx)" ></i>{{ delegate_display_DataArray_In_GridCell(rowData.BObjects, 'Object') }}</td>


        </tr>
      </ng-template>

      </p-table>
    </div>
    </form>
