
    <form [formGroup]="editorForm" (ngSubmit)="submitEditorForm(editorForm)" [class]="agGridThemeName" autocomplete="off">

      <div class="modal-header ag-root-wrapper d-flex flex-row" >
        <h4 class="modal-title flex-fill" >{{editorFormTitle}}</h4>
        <h4><i type="button" class="close pull-end fa fa-close" aria-label="Close" *ngIf="isInModal" (click)="hideEditorForm()" ></i></h4>
      </div>

      <div class="modal-body ag-root-wrapper" >

<div class="form-group">
<label for="Phone">Phone:</label>
<input type="text" class="form-control" formControlName="Phone" id="Phone" name="Phone" >
</div>

<div class="form-group">
<label for="Web">Web:</label>
<input type="text" class="form-control" formControlName="Web" id="Web" name="Web" >
</div>

<div class="form-group">
<label for="Email">Email:</label>
<input type="email" class="form-control" formControlName="Email" id="Email" name="Email" >
</div>

<div class="form-group">
<label for="Mobile">Mobile:</label>
<input type="text" class="form-control" formControlName="Mobile" id="Mobile" name="Mobile" >
</div>



      </div>

      <div class="ag-root-wrapper modal-footer " style="flex-direction: row;" >
        <button type="button" class="btn btn-primary" (click)="outputJsonString()" >JSON</button>
        <button [disabled]="editorForm.invalid" class="btn btn-primary" type="submit" >{{submitButtonLabel}}</button>
        <button type="button" class="btn btn-primary" (click)="hideEditorForm()" >Cancel</button>
      </div>

    </form>
    