

 <form [class]="agGridThemeName">
 <div class="modal-header ag-root-wrapper d-flex flex-row">
   <h4 class="modal-title flex-fill" >SelectableFieldRecord List:</h4>
   <button type="button" class="btn btn-primary btn-sm m-1" (click)="outputJsonString()" >JSON</button>
   <button type="button" class="btn btn-primary btn-sm m-1" (click)="showCreateForm(undefined, undefined)" >Create SelectableFieldRecord</button>
   <i type="button" style="padding-left: 10px; font-size: 200%" *ngIf="isInModal" class="close fa fa-close" aria-label="Close" (click)="hideEditorPTable($event)" ></i>
 </div>
 <div class="modal-body ag-root-wrapper" style="height: 80vh;" >
   <div class='alert alert-warning'*ngIf="runtimeMessageLines.length>0">
     <p *ngFor="let msgLn of runtimeMessageLines">{{msgLn}}</p>
   </div>

<p-table
   #dt
   [value]="editedObjects"
   styleClass="p-datatable-striped p-datatable-gridlines p-datatable-sm fs-6"
   [paginator]="false"
   [tableStyle]="{'min-width': '50rem',  'min-height': '3em','font-size': '12px' }"
   [rowHover]="true"
   dataKey="id"
>

   <ng-template pTemplate="header">
       <tr>
         <th></th>
         <th></th>
<th pReorderableColumn pResizableColumn >NumberValue</th>
<th pReorderableColumn pResizableColumn >StringValue</th>
<th pReorderableColumn pResizableColumn >NumberArray</th>
<th pReorderableColumn pResizableColumn >StringArray</th>

       </tr>
   </ng-template>
   <ng-template pTemplate="body" let-rowData let-idx="rowIndex">
       <tr>
         <td>
           <i type="button" class="close fa fa-edit" (click)="showUpdateForm('Edit', idx)" ></i>
         </td>
         <td>
           <i type="button" class="close fa fa-trash" (click)="showDeleteForm('Delete', idx)" ></i>
         </td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('NumberValue', idx)" ></i>{{ rowData.NumberValue? "Object" : "" }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('StringValue', idx)" ></i>{{ rowData.StringValue? "Object" : "" }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('NumberArray', idx)" ></i>{{ rowData.NumberArray? "Object" : "" }}</td>
<td><i type="button" class="close fa fa-box-open pe-1" (click)="showFieldEditorForm('StringArray', idx)" ></i>{{ rowData.StringArray? "Object" : "" }}</td>

     </tr>
   </ng-template>

</p-table>
</div>
</form>

